*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#select-filter{
    display: flex;
    background-color: skyblue;
    height: 5%;
}

.title{
    height: 5%;
}

.container{
    height: 100vh;
}

#container-box{
    background-color: turquoise;
    min-height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    width: 15vw;
    height: 15vw;
    background-color: whitesmoke;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 25%;
}

i{
    font-size: 2em;
}